<nav class="border-b border-gray-200 shadow-sm">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <%= link_to root_path, class: "flex items-center text-white" do %>
            <%= render_svg "logo", styles: "fill-current" %>
          <% end %>
        </div>
      </div>
      <div class="hidden md:block">
        <div class="ml-4 flex items-center md:ml-6">
          <% if user_signed_in? %>
            <%= link_to "API Tokens", api_tokens_path, class: "text-gray-900 hover:bg-gray-200 px-3 py-2 rounded-md text-sm font-medium" %>
            <%= button_to t(".sign_out"), destroy_user_session_path, method: :delete, class: 'text-gray-900 hover:bg-gray-200 px-3 py-2 rounded-md text-sm font-medium' %>
          <% else %>
            <%= link_to t(".log_in"), new_user_session_path, class: 'text-gray-900 hover:bg-gray-200 px-3 py-2 rounded-md text-sm font-medium' %>
            <%= link_to t(".sign_up"), new_user_registration_path, class: 'text-gray-900 hover:bg-gray-200 px-3 py-2 rounded-md text-sm font-medium' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
