<div class="lg:col-start-3 lg:row-end-1" id="<%= dom_id transcription %>">
  <div class="rounded-lg bg-gray-50 shadow-sm ring-1 ring-gray-900/5">
    <dl class="flex flex-wrap">
      <div class="flex-auto pl-6 pt-6">
        <dt class="text-sm font-semibold leading-6 text-gray-900"><%= time_ago_in_words(transcription.created_at) %></dt>
        <dd class="mt-1 text-base font-semibold leading-6 text-gray-900">#<%= transcription.id%> | <%= transcription.page.template.name %>: <%= transcription.page.name %></dd>
      </div>
      <div class="flex-none self-end px-6 pt-4">
        <dt class="sr-only">Status</dt>
        <dd class="inline-flex items-center rounded-md bg-primary-50 px-2 py-1 text-xs font-medium text-primary-700 ring-1 ring-inset ring-primary-600/20 "><%= transcription.status.humanize.titleize %></dd>
      </div>
      <dl class="mt-6 grid grid-cols-1 text-sm leading-6 sm:grid-cols-2 w-full border-t border-gray-900/5">
        <div class="mt-4 w-full px-6">
          <div class="flex gap-x-2 flex-none">
            <dt class="flex-none">
              <span class="sr-only">Status</span>
              <i class="fa-solid fa-microphone text-gray-400"></i>
            </dt>
            <dd class="text-sm leading-6 text-gray-500">Transcriptions from recording</dd>
          </div>
          <div class="mt-1 prose prose-sm text-gray-500">
            <p>
              <% if transcription.transcription_text == nil %>
                No transcription generated.
              <% else%>
                <%= simple_format(transcription.transcription_text)%></p>
            <% end %>
          </p>
        </div>
      </div>
      <div class="mt-4 w-full px-6">
        <div class="flex gap-x-2 flex-none">
          <dt class="flex-none">
            <span class="sr-only">Status</span>
            <i class="fa-solid fa-robot text-gray-400"></i>
          </dt>
          <dd class="text-sm leading-6 text-gray-500">AI Filled Form Fields</dd>
        </div>
        <div class="mt-1 prose prose-sm text-gray-500">
          <p>
            <% if transcription.ai_response == {} %>
              No response generated with AI.
            <% else%>
              <%= simple_format(JSON.pretty_generate(transcription.ai_response))%></p>
          <% end %>
        </div>
      </div>
    </dl>
  </dl>
  <% if transcription.audio_file.attached? %>
    <div class="mt-6 border-t border-gray-900/5 px-6 py-6">
      <%= audio_tag url_for(transcription.audio_file), controls: true %>
    </div>
  <% end %>
</div>
</div>
