<%= content_for :title, "Pages" %>
<%= turbo_stream_from :pages %>
<div class="container px-4 mx-auto my-8">
  <div class="flex items-center justify-between mb-4">
    <div>
      <h1 class="h3">
        <%= link_to @template.name, template_path(@template), class: "text-black" %>
        <span class="text-gray-400 font-light mx-2">\</span>
        Pages
      </h1>
      <div class="text-sm font-medium">
        <span class="text-gray-500">Sort by:</span>
        <%= sortable @pages, :template_id, "Template", class: "text-gray-700" %>
        <%= sortable @pages, :name, "Name", class: "text-gray-700" %>
      </div>
    </div>
  </div>
  <%= tag.div id: ("pages" if first_page?), class: "space-y-4" do %>
    <%= render partial: "pages/index", collection: @pages, as: :page, cached: true %>
    <div class="hidden only:flex flex-col items-center justify-between lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
    </div>
  <% end %>
  <% if @pagy.pages > 1 %>
    <div class="my-6 text-center">
      <%== pagy_nav(@pagy) %>
    </div>
  <% end %>
</div>
