<script src="https://medispeak-app.pages.dev/assets/index.html.js" crossorigin="" type="module"></script>
<link rel="modulepreload" crossorigin="" href="https://medispeak-app.pages.dev/assets/App.js">
<link rel="stylesheet" href="https://medispeak-app.pages.dev/assets/App.css">
<%= content_for :title, "Pages ##{@page.id}" %>
<%= turbo_stream_from @page %>
<div class="container px-4 mx-auto my-8">
  <div class="flex items-center justify-between mb-4">
    <h1 class="h3">
      <%= link_to @page.template.name, template_path(@page.template), class: "text-black" %>
      <span class="text-gray-400 font-light mx-2">\</span>
      <%= @page.name %>
    </h1>
  </div>
  <div class="p-8 bg-white rounded shadow">
    <%= render @page %>
  </div>
  <div class="mt-4 max-w-xl p-8 space-y-4 bg-white rounded shadow">
    <% @page.form_fields.each do |form_filed| %>
      <div>
        <label for="<%=form_filed.title%>" class="block text-sm font-medium leading-6 text-gray-900"><%=form_filed.title%></label>
        <div class="mt-1">
          <input type="text" name="<%=form_filed.title%>" id="<%=form_filed.title%>" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="<%=form_filed.description%>" aria-describedby="email-description">
        </div>
        <p class="mt-1 text-sm text-gray-500" id="email-description"><%=form_filed.description%></p>
      </div>
    <% end%>
    <% if @page.form_fields.empty? %>
      <div class="flex items-center justify-between mb-4">
        <div class="text-sm font-semibold">
          Please contact our support team to add form fields to this page.
        </div>
      </div>
    <% end %>
  </div>
  <div id="medispeak_root"></div>
</div>
