<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || " Medispeak: Revolutionizing Healthcare Communication" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <!-- HTML Meta Tags -->
    <meta name="description" content="Medispeak offers innovative solutions to streamline doctor-patient communication, ensuring better healthcare outcomes.">
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://medispeak.in/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Medispeak: Revolutionizing Healthcare Communication">
    <meta property="og:description" content="Medispeak offers innovative solutions to streamline doctor-patient communication, ensuring better healthcare outcomes.">
    <meta property="og:image" content="<%= image_url("og.png") %>">
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="medispeak.in">
    <meta property="twitter:url" content="https://medispeak.in/">
    <meta name="twitter:title" content="Medispeak: Revolutionizing Healthcare Communication">
    <meta name="twitter:description" content="Medispeak offers innovative solutions to streamline doctor-patient communication, ensuring better healthcare outcomes.">
    <meta name="twitter:image" content="<%= image_url("og.png") %>">
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%# Includes all stylesheet files in app/views/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="h-full font-sans antialiased font-normal leading-normal bg-gray-50">
    <div class="main flex flex-col">
      <header>
        <%= render partial: "shared/flash" %>
        <% unless @hide_navbar %>
          <%= render partial: "shared/navbar" %>
        <% end %>
      </header>
      <main class="px-3 lg:px-0 h-full">
        <%= yield %>
      </main>
    </div>
    <%= render partial: "shared/footer"%>
  </body>
</html>
